body{
    /*background-image: url("../img/istockphoto-659038586-170667a.jpg");*/
     font-family: 'Press Start 2P', cursive;
 }
 
 .flex{
     display: flex;
     align-items: center;
     justify-content: center;
 }
 
 .container{
     border: 2px solid black; 
     width: 100%;
     height: 1300px;
     background-color: #2e2e2d;
     margin: 5px auto 0px auto;
 }
 
/*NAVBAR CSS*/
/*NAVBAR CSS*/
/*NAVBAR CSS*/

.navBar{
    width: 100%;
    height: 60px;
    font-size: 70%;
    /*border: 1px solid red;  */
    background-color: black;
    
    
}

.navBar ul{
    list-style: none;
    width: fit-content;
    margin: 0px auto 0px auto;

   
}

.navBar ul a{
    text-decoration: none;
    color: black;
    color: white;

}

.navBar ul li a{
    transition: 0.7s;
}

.navBar ul li{
    float: left;
    width: 130px;
    height: 30px;
    text-align: center;
    float: left;
    transition: 0.7s;
    /*border: 1px solid red;*/

}

.navBar ul li:hover{
    /* TODO: Add transition speed */
    font-size: 120%;
    
}

.navBar ul li a:hover{
    color: red;
}


.parentLi{
    margin-top: 17.5px;
}

.dropDownUl{
    clear: both;
    display:  none;
}

.topLi{
    margin-top: 11px;
}

.navBar .dropDownUl li{
    display: block;
    margin-left: -40px;
    height: 29px;
    margin-bottom: 1px;

}
.navBar .dropDownUl li a{
    margin: 21px 0px 21px 0px;
}

.navBar ul li:hover .dropDownUl{
    display: block;
}


.fotoBox1{
  
}

.fotoBox1 ,.fotoBox2, .fotoBox3, .fotoBox4{
    border: 5px solid white;
    height: 500px;
    width: 748px;
    margin-top: 50px;
    float: left;
    margin-left: 4.9%;
    margin-right: 4.9%;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 120%;
    
}

.fotoBox1 {
    background-image: url("../img/8bitArt.jpg");
    background-position: center;
    background-size: cover;
   
}

.fotoBox1:hover{
    
    background-size: 110%;
    
}



.pTB1{
    font-size: 180%;
}






footer{
    clear: both;
    margin-top: 10px;
    border: 1px solid rebeccapurple;
    width: 80%;
}